PORT=8080
HOST=127.0.0.1
ADMIN_PASSWORD=change-this-password
GITHUB_OWNER=your-github-org-or-user
GITHUB_REPO=your-repository-name
GITHUB_TOKEN=github_pat_or_fine_grained_token
GITHUB_BASE_BRANCH=main
PUBLIC_SITE_URL=https://mamlik.github.io/xp_notes
